<div class="columns">
    <div class="comments column is-8 is-offset-2 has-background-light">
        {{#each this}}
        <section class="comment my-4">
            <div class="meta">
                {{user.username}} on {{format_date created_at}}
            </div>
            <div class="text has-text-dark is-italic has-text-weight-semibold">
                {{comment_text}}
            </div>
        </section>
        {{/each}}
    </div>
</div>