<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clint's Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav class="navbar has-background-link">
            <div class="navbar-brand">
                <h1>
                    <a class="navbar-item has-text-light" href="/" id="blog-title">
                        Clint's Tech Blog
                    </a>
                </h1>

                {{#if signedIn}}
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item has-text-light" href="/">Home</a>
                        <a class="navbar-item has-text-light" href="/dashboard">Dashboard</a>
                    </div>
                    <div class="navbar-end">
                        <button id="sign-out" class="navbar-item button is-danger has-text-light">Log Out</button>
                    </div>
                </div>
                {{else}}
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item has-text-light" href="/">Home</a>
                        <a class="navbar-item has-text-light" href="/sign-in-prompt">Dashboard</a>
                    </div>

                    {{#if firstTime}}
                    <div class="navbar-end">
                        <a class="navbar-item has-text-light" href="/sign-in-prompt">Sign In</a>
                    </div>
                    {{else}}
                    <div class="navbar-end">
                        <a class="navbar-item has-text-light" href="/sign-in">Sign In</a>
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer class="columns">
        <div class="column is-4 is-offset-4">
            <p class="has-text-link">Thanks for visiting Clint's Tech Blog!</p>
        </div>
    </footer>

    {{#if signedIn}}
    <script src="/javascript/sign-out.js"></script>
    {{/if}}
</body>

</html>