<div class="columns">
    <div class="column is-4 is-offset-4">
        <section>
            <form class="new-post-form">
                <h2 class="is-size-2 has-text-primary has-text-centered">CREATE A NEW POST</h2>
                <div>
                    <label for="post-title">Title:</label>
                    <input class="input is-link" type="text" id="post-title" name="post-title" />
                </div>
                <div>
                    <label for="contents">Content:</label>
                    <input class="input is-primary is-large" id="contents" name="contents" />
                </div>
                <button class="button is-link my-3" type="submit" class="btn">Create</button>
            </form>
        </section>
    </div>
</div>

<script src="/javascript/add-post.js"></script>