<section>
    <form class="new-post-form">
        <h2>Create A New Post</h2>
        <div>
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="contents">Content:</label>
            <input id="contents" name="contents" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>