<form class="sign-in-form columns ml-6">
  <div class="column is-4">
    <div class="my-2">
      <label for="user-sign-in">username:</label>
      <div class="control">
        <input class="input is-link" type="text" id="username-sign-in">
      </div>
    </div>
    <div class="my-2">
      <label for="password-sign-in">password:</label>
      <input class="input is-link" type="password" id="password-sign-in" />
    </div>
    <div class="control mt-4">
      <button class="button is-primary" type="submit">Sign In</button>
    </div>
  </div>
</form>

<script src="/javascript/sign-in.js"></script>