<div class="columns">
    <div class="column is-4 is-offset-4">
        <form class="signup-form my-4">
            <h3 class="sign-in-title has-text-primary has-text-weight-bold is-size-1">SIGN UP</h3>
            <div class="control my-3">
                <label for="username-signup">username:</label>
                <input class="input is-link" type="text" id="username-signup" />
            </div>
            <div class="control my-3">
                <label for="password-signup">password:</label>
                <input class="input is-primary" type="password" id="password-signup" />
            </div>
            <div>
                <button class="button is-link is-light mt-2" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/sign-up.js"></script>