<form class="sign-in-form">
  <div>
    <label for="user-sign-in">username:</label>
    <input type="text" id="username-sign-in" />
  </div>
  <div>
    <label for="password-sign-in">password:</label>
    <input type="password" id="password-sign-in" />
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>

<script src="/javascript/sign-in.js"></script>