<div class="columns">
    <div class="column is-6 is-offset-3" <form class="my-6">
        <div class="control my-6">
            <button class="sign-in button is-link is-light has-text-white" type="submit">
                <a href="/sign-in">If you already have an account with us, click here to sign in!</a>
            </button>
        </div>
        <div class="control my-6">
            <button class="sign-up button is-primary is-light" type="submit">
                <a href="/sign-up">If you do not have an account with us, click here to sign-up!</a>
            </button>
        </div>
        </form>
    </div>