<form>
    <div>
        <button class="sign-in" type="submit">
            <a href="/sign-in">If you already have an account with us, click here to sign in!</a>
        </button>
    </div>
    <div>
        <button class="sign-up" type="submit">
            <a href="/sign-up">If you do not have an account with us, click here to sign-up!</a>
        </button>
    </div>
</form>